{% extends "layouts/layout.html" %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div>
    <a href="/" style="text-decoration: none">
        <h1 class="font-effect-outline font-moul-white-big">QuoridorOnline</h1>
    </a>
    <h2>LOGIN</h2>
    <br/>
    <br/>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        <br/>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Username
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="username"
                   id="input-players-name"
                   type="text"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
        </div>
        <br/>
        <br/>
        Password
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="password"
                   id="input-players-password"
                   type="password"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
            <button type="button" title="Toggle password visibility" class="inline-button" onclick="togglePasswordVisibility()" style="display: inline-block;">
                <i id="password-toggle-icon" class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <br/>
        <br/>
        
        <div class="text-box">
            <button type="submit" class="btn btn-white btn-animate">Login</button>
        </div>

    </form>
    <br/>
</div>


<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('input-players-password');
        const icon = document.getElementById('password-toggle-icon');
        if (!passwordInput) {
            return;
        }

        const isPassword = passwordInput.type === 'password';
        passwordInput.type = isPassword ? 'text' : 'password';
        icon.className = isPassword ? 'fa fa-eye-slash' : 'fa fa-eye';
        icon.setAttribute('aria-label', isPassword ? 'Hide password' : 'Show password');
    }
</script>
<!--this is the animated background-->
<div style="text-align: left; margin: 0; position: fixed; top: 0px; left: 0px; z-index: -1;">
    <canvas style=""></canvas>
    <script src="{% static 'js/background_canvas.js' %}"></script>
</div>

{% endblock %}