{% extends "layouts/layout.html" %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div>
    <a href="/" style="text-decoration: none">
        <h1 class="font-effect-outline font-moul-white-big">QuoridorOnline</h1>
    </a>
    <h2>REGISTER</h2>
    <br/>
    <br/>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        Username
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="username"
                   id="input-players-name"
                   type="text"
                   value="{{ username|default:user.username }}"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
        </div>
        <br/>
        <br/>
        Email
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="email"
                   id="input-players-email"
                   type="email"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
        </div>
        <br/>
        <br/>
        Password
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="password"
                   id="input-players-password"
                   type="password"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
            <button type="button" title="Toggle password visibility" class="inline-button" onclick="togglePasswordVisibility()" style="display: inline-block;">
                <i class="password-toggle-icon fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
        <br/>
        <br/>
        Repeat password
        <div class="element-box" style="display: flex; align-items: center; ">
            <input name="repeat_password"
                   id="input-players-repeat-password"
                   type="password"
                   style="width: 100%; border: none; font-size: 16px; font-weight: 600; word-wrap: anywhere; height: 3rem;">
        </div>
        <br/>
        <br/>
        
        <div class="text-box">
            <button type="submit" class="btn btn-white btn-animate">Register</button>
        </div>

    </form>
    <br/>
</div>

<div style="position: absolute; bottom: 16px; left: 0; width: 100%; text-align: center; font-size: 0.95rem;">
    Already registered? <a href="{% url 'login' %}">Login here</a>
</div>


<script>
    function togglePasswordVisibility() {
        const passwordInputs = document.querySelectorAll('#input-players-password, #input-players-repeat-password');
        if (!passwordInputs.length) {
            return;
        }

        const isPassword = passwordInputs[0].type === 'password';
        passwordInputs.forEach(input => {
            if (input) {
                input.type = isPassword ? 'text' : 'password';
            }
        });

        document.querySelectorAll('.password-toggle-icon').forEach(icon => {
            icon.className = isPassword ? 'password-toggle-icon fa fa-eye-slash' : 'password-toggle-icon fa fa-eye';
            icon.setAttribute('aria-label', isPassword ? 'Hide password' : 'Show password');
        });
    }
</script>
<!--this is the animated background-->
<div style="text-align: left; margin: 0; position: fixed; top: 0px; left: 0px; z-index: -1;">
    <canvas style=""></canvas>
    <script src="{% static 'js/background_canvas.js' %}"></script>
</div>

{% endblock %}