.color-picker-container {
    background-color: white;
    border-radius: 16px;
    padding: 4px;
    position: absolute;
    display: none;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.3);
}

.color-picker-color {
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 6px;
}

.color-picker-color:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px #666;
}

.color-of-user {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 12px;
}

.color-of-user-in-list {
    width: 16px;
    height: 16px;
    border-radius: 6px;
    margin-right: 8px;
}

