<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuoridorOnline Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css' )}}">
</head>
<body>
    <div id="navbar">
        <h2>Navigation</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

    <div id="content">
        <h1>Dashboard for QuoridorOnline</h1>

        <div class="widget" style="margin-bottom: 20px;">
            <h2>Recent Activity</h2>
            <ul id="activityList"></ul>
        </div>

        <div style="display: flex; gap: 20px; margin-bottom: 20px;">
            <div style="width: 100%">
                <div class="widget">
                    <h2>Amount of games per time</h2>
                    <canvas id="lineChart" width="400" height="200"></canvas>
                </div>
            </div>
            <div style="width: 100%">
                <div class="widget">
                    <h2>List of games</h2>
                    <div id="list_of_games_container">
                        Click one day to see the games
                    </div>
                </div>
            </div>
        </div>

        <div class="widget">
            <h2>Selected game</h2>
            <div class="widget" style="background-color: white">
                <pre id="selected_game_json_container"></pre>
            </div>
        </div>
        <br>
    </div>


    <script>
        server_url = "{{ server_url }}";
        var lobbies_in_group = {{ lobbies_in_group | tojson }};
        var labels_as_str = {{ labels | tojson }};
        var data = {{ data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/admin.js' )}}"></script>
</body>
</html>
