<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
<!--        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />-->
        <title>QuoridorOnline</title>
        <meta name="description" content="Play Quoridor online with friends or with other people all around the world.">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Moul&effect=outline">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/notify.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/stats.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/back_to_menu.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/slider.css' )}}">

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> --> <!-- use this for production -->
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>