{% extends "game_layout.html" %}
{% block body %}
<style>
    body {
        margin: 0;
        background-color: white
    }

    .notify-container {
        width: 25%;
        position: fixed;
        bottom: 70px; right: 0px;
        padding: 0 10px 0 10px;
    }
</style>

<div class="header-container" id="game-header">
    <h3 id="players_turn" style="text-align: center; margin: 10px 0;"></h3>
</div>

<canvas></canvas>

<div class="stats-container">
    <div style="width: 100%; text-align: left; display: flex;">
        <div style="margin: 16px">
            <button id="button-sound-mute" onclick="toggleAudio()" class="control-button"></button>
        </div>
        <div style="margin: 16px">
            <button id="button-inspect-previous-round" onclick="viewPreviousOrNextGameRound(1)" class="control-button">
                <i class="fa fa-angle-left" style="font-size: 32px" aria-hidden="true"></i>
            </button>
        </div>
        <div style="margin: 16px">
            <button id="button-inspect-next-round" onclick="viewPreviousOrNextGameRound(-1)" class="control-button">
                <i class="fa fa-angle-right" style="font-size: 32px" aria-hidden="true"></i>
            </button>
        </div>
        <div style="margin: 16px">
            <button id="button-inspect-current-round" class="control-button"
                    onclick="current_round_diff=0;updateGame(round_diff=1)">
                <i class="fa fa-angle-double-right" style="font-size: 32px" aria-hidden="true"></i>
            </button>
        </div>
        <div style="margin: 16px; margin-left: 48px">
            <button id="button-place-walls" onclick="changePlayState()"
                    class="control-button" style="padding: 20px 18px 16px 18px;">
                Place<br/>wall
            </button>
        </div>
    </div>
    <div id="game-stats" style="background-color: #bbf7d0;">
        <div class="stats-padding">
            <div id="stats_grid" class="stats-grid">
                <!-- the stats of the players will be placed here (e.g. the remaining walls) (see /js/stats.js) -->
            </div>
        </div>
    </div>
</div>

<div style="width: 100%;">
    <div id="notify-holder" class="notify-container"></div>
</div>

<script src="{{ url_for('static', filename='js/header.js' )}}"></script>
<script src="{{ url_for('static', filename='js/stats.js' )}}"></script>
<script src="{{ url_for('static', filename='js/notify.js' )}}"></script>
<script src="{{ url_for('static', filename='js/game_online.js' )}}"></script>
<script src="{{ url_for('static', filename='js/audio.js' )}}"></script>

<script src="{{ url_for('static', filename='js/query_server.js' )}}"></script>

<script>
    server_url = "{{ server_url }}";
    current_lobby_id = "{{ lobby.lobby_id }}";
    this_player_id = "{{ user.id }}";
    players_action_state = STATE_PLACE_PLAYER;
    createPlayers();


    let intervalID = setInterval(() => { // see https://rapidapi.com/guides/api-requests-intervals
        if (players_action_state != 2) {
            updateGame();
        }
    }, 300);
</script>

<div id="back_to_menu_overlay" style="display: none">
    {% include 'back_to_menu.html' %}
</div>
{% endblock %}