{% extends "game_layout.html" %}
{% block body %}
<style>
    body {
        margin: 0;
        background-color: white;
        overscroll-behavior: contain;
        background-color: #bbf7d0;
    }

    .notify-container {
        width: 25%;
        position: fixed;
        bottom: 70px; right: 0px;
        padding: 0 10px 0 10px;
    }
</style>

<div class="header-container" id="game-header">
    <h3 id="players_turn" style="text-align: center; margin: 10px 0;"></h3>
</div>

<canvas></canvas>

<div class="stats-container">
    <div style="display: flex;">
        <div style="width: 100%; text-align: left; display: flex;">
            <div style="margin: 16px">
                <button data-title="View previous round" id="button-inspect-previous-round" onclick="viewPreviousOrNextGameRound(1)" class="control-button">
                    <i id="button-inspect-previous-round-icon" class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
            </div>
            <div style="margin: 16px">
                <button data-title="View next round" id="button-inspect-next-round" onclick="viewPreviousOrNextGameRound(-1)" class="control-button">
                    <i id="button-inspect-next-round-icon" class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
            <div style="margin: 16px">
                <button data-title="View latest round" id="button-inspect-current-round" class="control-button"
                        onclick="current_round_diff=0;updateGame(round_diff=1)">
                    <i id="button-inspect-current-round-icon" class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </div>
            <div style="margin: 16px; margin-left: 48px">
                <button id="button-place-walls" onclick="changePlayState()"
                        class="control-button" style="padding: 20px 18px 16px 18px;">
                    Place<br/>wall
                </button>
            </div>
        </div>
        <div style="display: flex;">
            <div style="margin: 16px">
                <button data-title="Toggle wall color"  id="button-toggle-wall-color" onclick="toggleWallColor()" class="control-button">
                    <i id="button-toggle-wall-color-icon" class="fa fa-adjust" aria-hidden="true"></i>
                </button>
            </div>
            <div style="margin: 16px">
                <button id="button-settings" onclick="openSettingsMenu()" class="control-button">
                    <i id="button-settings-icon" class="fa fa-cog" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="game-stats" style="background-color: #bbf7d0; border-top: 1px solid #fff;">
        <div class="stats-padding">
            <div id="stats_grid" class="stats-grid">
                <!-- the stats of the players will be placed here (e.g. the remaining walls) (see /js/stats.js) -->
                <h2 style="text-align: right;">No player</h2>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%;">
    <div id="notify-holder" class="notify-container"></div>
</div>

<script src="{{ url_for('static', filename='js/header.js' )}}"></script>
<script src="{{ url_for('static', filename='js/stats.js' )}}"></script>
<script src="{{ url_for('static', filename='js/notify.js' )}}"></script>
<script src="{{ url_for('static', filename='js/settings.js' )}}"></script>
<script src="{{ url_for('static', filename='js/game_online.js' )}}"></script>

<script src="{{ url_for('static', filename='js/query_server.js' )}}"></script>

<script>
    server_url = "{{ server_url }}";
    current_lobby_id = "{{ lobby.lobby_id }}";
    this_player_id = "{{ user.id }}";
    players_action_state = STATE_PLACE_PLAYER;
    createPlayers();

    let intervalID = setInterval(() => { // see https://rapidapi.com/guides/api-requests-intervals
        if (players_action_state != 2) {
            updateGame();
        }
    }, 300);
</script>

<div id="game_over_overlay" style="display: none">
    {% include 'menus/game_over.html' %}
</div>

<div id="settings_overlay" style="display: none">
    {% include 'menus/settings.html' %}
</div>
{% endblock %}