{% extends "layout.html" %}
{% block body %}
<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="font-effect-outline font-moul-white-big">QuoridorOnline</h1>
    <br/>
    <br/>
    <div class="text-box">
        <a href="/lobby" class="btn btn-white btn-animate">New lobby</a>
    </div>
    <br/>
    <div class="text-box">
        <a href="#" class="btn btn-white btn-animate">Play on this PC</a>
    </div>
    <br/>
    <div class="text-box">
        <a href="/how-to-play" class="btn btn-white btn-animate">How to play</a>
    </div>
    <br/>
    <div class="text-box">
        <a href="/about" class="btn btn-white btn-animate">About</a>
    </div>
</div>

<!--this is the animated background-->
<div style="text-align: left; margin: 0; position: fixed; top: 0px; left: 0px; z-index: -1;">
    <canvas style=""></canvas>
    <script src="{{ url_for('static', filename='js/background_canvas.js' )}}"></script>
</div>
{% endblock %}