<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> --> <!-- use this for production -->
</head>
<body>
    <h1>LOBBY</h1>

    lobby_id
    {{ lobby.lobby_id }}
    <hr/>
    user.id {{ user.id }} <br/>
    user.name {{ user.name }} <br/>

    <hr/>
    List of players:
    <ul id="list_of_players">
    </ul>

    <script>

        async function startGameAsync() {
            try {
                var response = await fetch("http://127.0.0.1:5009/start_game/{{ lobby.lobby_id }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "user_id": "{{ user.id }}",
                        "user_name": "{{ user.name }}",
                    })
                });
                var data = await response.json();
                var status = response.status;
                console.log(data);
                console.log(status);
            } catch (error) {
                console.log('Error:', error);
            }
        }

        async function getLobbyAsync() {
            try {
                var response = await fetch("http://127.0.0.1:5009/get_lobby/{{ lobby.lobby_id }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "user_id": "{{ user.id }}",
                        "user_name": "{{ user.name }}",
                    })
                });
                var data = await response.json();
                var status = response.status;
                if (status == 200) {
                    if (data.hasOwnProperty("players")) {
                        var list_of_players = $('#list_of_players');
                        list_of_players.empty();
                        data.players.forEach(player => {
                            list_of_players.append("<li>" + player.name + " | " + player.id + "</li>");
                        });
                    } else if (data.hasOwnProperty("game")) {
                        window.location.replace(data.game);
                    }
                }

            } catch (error) {
                console.log('Error:', error);
            }
        }

        getLobbyAsync();
        let intervalID = setInterval(() => { // see https://rapidapi.com/guides/api-requests-intervals
            getLobbyAsync();
        }, 500);
    </script>

    <button onclick="startGameAsync()">Start game</button>
</body>
</html>