{% extends "layout.html" %}
{% block body %}

<style>
    .element-box {
        background-color: white;
        width: 30%;
        margin-left: 35%;
        text-align: left;
        border-radius: 30px;
        padding: 25px
    }

    .element-box div {
        list-style: none;
    }

    .element-box div div {
        padding: 10px 0;
    }

    textarea:focus, input:focus{
        outline: none;
    }

</style>
<div>
    <h1>QuoridorOnline</h1>
    <h2>LOBBY</h2>
    <br/>
    <br/>
    You
    <div class="element-box" style="display: flex">
        <input value="{{ user.name }}"
               id="input-players-name"
               type="text"
               style="width: 100%; border: none; font-size: 16px; font-weight: 600">
        <button onclick="" style="display: inline-block;">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
    </div>
    <br/>
    <br/>
    Share this link with your friends
    <div class="element-box" style="display: flex">
        <div id="link-to-lobby">
            http://127.0.0.1:5009/lobby/{{ lobby.lobby_id }}
        </div>
        <div style="width: 5%"></div>
        <button onclick="copy_to_clipboard()" style="display: inline-block;">
            <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>
    </div>
    <br/>
    <br/>

    List of players
    <div class="element-box">
        <div id="list_of_players"></div>
    </div>
    <br/>
    <div class="text-box" onclick="startGameAsync()">
        <a href="#" class="btn btn-white btn-animate">Start game</a>
    </div>
</div>

<script>
    function copy_to_clipboard() {
        navigator.clipboard.writeText("http://127.0.0.1:5009/lobby/{{ lobby.lobby_id }}");
        showNotify("success", "", "Copied to clipboard", 2);
    }
</script>

<script>
    var last_error_msg = null;

    function throwOnError(json_obj) {
        // If there is the key "error" in a json_obj, show the value.
        // E.g.: {"error": "Player can not move here"} should show a notify and return true.
        // E.g.: {"status": "success"} should return false.
        if (Object.hasOwn(json_obj, "error")) {
            throw json_obj["error"];
        }
    }

    async function startGameAsync() {
        try {
            var response = await fetch("http://127.0.0.1:5009/start_game/{{ lobby.lobby_id }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "user_id": "{{ user.id }}",
                    "user_name": "{{ user.name }}",
                })
            });
            var data = await response.json();
            throwOnError(data);
        } catch (error) {
            showNotify("error", "", error, 6);
        }
    }

    async function getLobbyAsync() {
        try {
            var response = await fetch("http://127.0.0.1:5009/get_lobby/{{ lobby.lobby_id }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "user_id": "{{ user.id }}",
                    "user_name": "{{ user.name }}",
                })
            });
            var data = await response.json();
            throwOnError(data);
            var status = response.status;
            if (status == 200) {
                if (data.hasOwnProperty("players")) {
                    var list_of_players = $('#list_of_players');
                    list_of_players.empty();
                    data.players.forEach(player => {
                        list_of_players.append("<div>" + player.name + "</div>");
                    });
                } else if (data.hasOwnProperty("game")) {
                    window.location.replace(data.game);
                }
            }
        } catch (error) {
            error = error.toString();
            if (last_error_msg != error) {
                last_error_msg = error;
                showNotify("error", "", error, 6);
            }
        }
    }

    getLobbyAsync();
    let intervalID = setInterval(() => { // see https://rapidapi.com/guides/api-requests-intervals
        getLobbyAsync();
    }, 500);
</script>
{% endblock %}