.side-game-ad-bottom {
    height: 8rem;
}

@media screen and (min-width: 992px) {
    .side-game-ad-bottom {
        display: none;
    }

    .side-game-ad-right {
        position: fixed;
        top: 100px;
        right: 0px;
        width: 10%;
        height: 60%;
    }

    .side-game-ad-left {
        position: fixed;
        top: 100px;
        left: 0px;
        width: 10%;
        height: 60%;
    }
}