[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    transition-delay: 1000ms;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #bbf7d0;
    position: absolute;
    padding: 5px 8px;
    border-radius: 10px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}