.element-box {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    border-radius: 30px;
    padding: 25px
}

@media screen and (min-width: 768px) {
    .element-box {
        background-color: white;
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media screen and (min-width: 992px) {
    .element-box {
        background-color: white;
        margin-left: 24%;
        margin-right: 24%;
    }
}

@media screen and (min-width: 1600px) {
    .element-box {
        background-color: white;
        margin-left: 32%;
        margin-right: 32%;
    }
}




.element-box div {
    list-style: none;
}

textarea:focus, input:focus{
    outline: none;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #000; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}