.stats-container {
    position: fixed; 
    width: 100%; 
    bottom: 0rem;
}

.stats-grid {    
    display: grid;
    grid-auto-flow: column;
}

.two-col-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.stats-padding {
    padding: 0 10%;
}

@media screen and (min-width: 992px) {
    .stats-padding {
        padding: 0 20%;
    }
}

@media screen and (min-width: 1600px) {
    .stats-padding {
        padding: 0 30%;
    }
}