body {
    text-align: center;
    font-family: sans-serif;
    background-color: #bbf7d0;
    font-weight: bold;
    margin: 0;
}

.font-moul-white-big {
    font-family: Moul;
    color: white;
    font-size: 48px
}

.font-moul-white {
    font-family: Moul;
    color: white
}