body {
    text-align: center;
    font-family: sans-serif;
    background-color: #bbf7d0;
    font-weight: bold;
    margin: 0;
}

.font-moul-white {
    font-family: Moul;
    color: white
}

.font-moul-white-big {
    font-family: Moul;
    color: white;
    font-size: 28px
}

@media screen and (min-width: 366px) {
    .font-moul-white-big {
        font-size: 36px
    }
}

@media screen and (min-width: 768px) {
    .font-moul-white-big {
        font-size: 48px
    }
}