<div class="transparent-bg">
    <div class="game-over-card">
        <span class="close-button" onclick="closeGameOverScreen()">&times;</span>
        <h1 class="font-effect-outline font-moul-white">
            Game over
        </h1>
        <h3 id="game_over_overlay_text"></h3>
        <br/>
        <div class="text-box">
            <a href="/" class="btn btn-white btn-animate">Back to main menu</a>
        </div>
        <br/>
        <div class="text-box">
            <a href="#" onclick="playAgain()" class="btn btn-white btn-animate">Play again</a>
        </div>
    </div>
</div>
